<!DOCTYPE html>
<html>
  <head>
    <title> Simple Map </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="vanilla.css" type="text/css">
    <!--JQUERY-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div id="map"></div>
    <!--APP LOGIC-->
    <script type="text/javascript" src="app.js"></script>
    <!--GOOGLE MAPS API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI6f3-WMTwlVP7CVhpKiMbVlWvgI0s1_E&callback=initMap"
    async defer></script>
  </body>
</html>
